h1, h2, h3, h4, h5, h6 {
  font-family: 'Crete Round', serif;
}

SplitButton, MenuItem {
  text-transform: capitalize;
}

.App {
  text-align: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #3399ff;
  width: 100%;
  padding-top: 2%;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headerBody{
  position: static;
  height: 80%;
}

.mainAppBody{
  padding-top: 1%;
  padding-bottom: 1%;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.correctResponse{
  animation-name: correctResponseAnimation;
  animation-duration: 4s;
}

@keyframes correctResponseAnimation{
  from {text-shadow: #FC0 1px 0 10px;;}
  to {text-shadow: 0;}
}

.footerControls {
  position: sticky;
  bottom: 0;
  background-color: #f4f4f4;
  left: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  height: auto;
  z-index: 0;
}

.progressBarContainer {
  padding-top: 2%;
  width: 100%;
  text-align: center;
  align-items: center;
}

.moveButton {
  width: 80px;
  height: 80px;
  background-color: transparent;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  border: none;
  cursor: pointer;
}

.moveText{
    text-transform: capitalize;
    text-align: center;
    margin-top: 80px;
    font-size: 14pt;
    font-weight: bold;
}

.explanationImage{
  width:60%;
}

.buttonUl {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5%;
}

.listButton{
  display: inline;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

.emojiContainer {
  margin-left: 15%;
  width: 70%;
  height: 70%;
}

.emojiUni{
  font-size: 790%;
  text-align: center;
  width: 100%;
}

.emoji{
  align-self: center;
  max-width: 30%;
  size: auto;
  margin: 10px;
}

.centered{
  position: relative;
  left:40%;
  width: 50%;
  height: 50%;
  max-width: 60%;
}

.feedback{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.moveImage{
  width: 20%;
  float: left;
}

.middle{
  margin-top: 3%;
  text-align: left;
}

#centered{
  text-align: center;
}

#lefty{
  text-align: left;
}

#push {
  background-image:url("./images/push.png");
}

#pull {
  background-image:url("./images/pull.png");

}

#please {
  background-image: url("./images/please.png");

}

#pain {
  background-image: url("./images/pain.png");

}

#pause {
  background-image: url("./images/pause.png");
}

#place {
  background-image: url("./images/place.png");
}
